@model IEnumerable<ProjectManagerApp.Areas.Admin.Models.Project>

@{
    ViewBag.Title = "Index";
}


<br />
<h2>Projects Index</h2>

<div id="divLoader" class="modalPopUpBackground loadingCursor" style="display:none; position:absolute;">
    <img src="~/Images/ajax-loader.gif" />
</div>
<br />
<div class="filter">
@using (Ajax.BeginForm("GetProjectsResultSheetByFilter", "Projects", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "tblProjectList",
    LoadingElementId = "divLoader"
}))
{
    <div class="row">
        <div class="col-md-1">
            <p>Status</p>
        </div>

        <div class="col-md-2">
            @Html.DropDownList("status", new SelectList(new List<Object> {
                                                  new { value = "True", text = "Active" },
                                                  new { value = "False",text = "Inactive"}
                                                  }, "value", "text"), "All", new { @class = "form-control" })
        </div>

        <div class="col-md-2">
            <p>FIlter by IsDeleted</p>
        </div>

        <div class="col-md-2">
            @Html.DropDownList("isDeleted", new SelectList(new List<Object> {
                                                  new { value = "True" ,text = "True" },
                                                  new { value = "False",text = "False"}
                                                  }, "value", "text"), "All", new { @class = "form-control" })
        </div>

        <div class="col-md-2">
            <p>FIlter by ProjectName</p>
        </div>

        <div class="col-md-2">
            @Html.DropDownList("projectid", new SelectList(ViewBag.Projects, "Id", "Name"), "Select Name", new { @class = "form-control" })
        </div>

        <div class="col-md-1">
            <input type="submit"  value="Search" id="btnSearch" class="btn btn-default" onclick="saveFilterValues();"/>
        </div>


    </div>
}
</div>



<br />

<div class="row">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>


<br />



<div id="tblProjectList">
    @Html.Partial("_ProjectsList")
</div>

<script>

    loadFilterValues = function () {
        $("#status").val(localStorage['Project_Status']);
        $("#isDeleted").val(localStorage['Project_IsDeleted']);
        $("#projectid").val(localStorage['Project_ProjectId']);
     
        $("#divLoader").removeClass("modalPopUpBackground").removeClass("loadingCursor");
        setTimeout(function () {
            $("#btnSearch").trigger("click");
            $("#divLoader").addClass("modalPopUpBackground").addClass("loadingCursor");
        }, 1);
    };

    saveFilterValues = function () {

        localStorage['Project_Status'] = $("#status").val();
        localStorage['Project_IsDeleted'] = $("#isDeleted").val();
        localStorage['Project_ProjectId'] = $("#projectid").val();
    };

    loadFilterValues();
</script>