@using Microsoft.AspNet.Identity
@model ProjectManagerApp.Models.Project

@{
    ViewBag.Title = "Home Page";
}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<h1>Logs Entry</h1>
    <div class="container body-content">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" style="height: 35px" id="description" placeholder="What have you done?" class="form-control"/>

                            </div>
                        </div>
                        <div class="col-md-5">

                            <div class="form-group">
                                @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.Projects, "id", "Name"), "Select Project", new { @class = "form-control", id = "dropdown" })

                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group date" id='datetimepicker1'>
                                    <input type='text' class="form-control" id="workstartingtime"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group date" id='datetimepicker2'>
                                    <input type='text' class="form-control" id="workendingtime"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" id="duration" style="height: 35px; width: 70px" placeholder="00:00" class="form-control"/>
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group date" id='datetimepicker3'>
                                    <input type='text' class="form-control" id="date" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <input type="button" id="addbutton" value="Add" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
           
         
        </div>
    </div>


@*<div id="logrowedit">
    <div id="editorcontainer" style="color: darkgrey">

        <input type="checkbox" class="logrowcheckbox"/>
        <div class="dropdown" style="display: inline-block">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a id="bulkedit">Bulk Edit </a></li>
                <li><a id="delete">Delete</a></li>
            </ul>
        </div>

    
    </div>
</div>*@



<div id="temptable">

</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1">
        <div class="form-group">
            <input  type="button" id="savebutton" value="Save" class="btn btn-default"/>
        </div>
    </div>
</div>


<script type="text/javascript">

    @*var id=@HttpContext.Current.User.identity.GetUserid();
    alert(id);*@


    $('#savebutton').hide();
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'h:mm a'

        });
    });

    $(document).ready(function () {
        $('#datetimepicker2').datetimepicker({
            format: 'h:mm a'

        });
    });

    $(document).ready(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'M/D'
        });
    });

    // workstarting time

    function ConvertTimeFormat(format, str) {
        
        var time = $('#workstartingtime').val();
        var hours = Number(time.match(/^(\d+)/)[1]);
        var minutes = Number(time.match(/:(\d+)/)[1]);
        var AMPM = time.match(/\s(.*)$/)[1];
        if (AMPM == "pm" && hours < 12) hours = hours + 12;
        if (AMPM == "am" && hours == 12) hours = hours - 12;
        // var sHours = hours;
        var sHours = hours;
        var sMinutes = minutes;
        // var sMinutes = minutes;
        if (hours < 10) sHours = "0" + sHours;
        if (minutes < 10) sMinutes = "0" + sMinutes;
        return (sHours + "." + sMinutes);
    }

        //workending time
    function ConvertTimeFormat1(format,str) {
        
        var time1 = $('#workendingtime').val();
        var hours1 = Number(time1.match(/^(\d+)/)[1]);
        var minutes1 = Number(time1.match(/:(\d+)/)[1]);
        var AMPM1 = time1.match(/\s(.*)$/)[1];
        if (AMPM1 == "pm" && hours1 < 12) hours1 = hours1 + 12;
        if (AMPM1 == "am" && hours1 == 12) hours1 = hours1 - 12;
        var sHours1 = hours1;
        var sMinutes1 = minutes1;
        if (hours1 < 10) sHours1 = "0" + sHours1;
        if (minutes1 < 10) sMinutes1 = "0" + sMinutes1;
    
        return (sHours1+"."+sMinutes1);
    }

    // function to check if workstartime is greater than workendtime

    $(document).ready(function () {
        $('#datetimepicker2').mouseleave(function () {
            var starttime = parseFloat(ConvertTimeFormat("24", $('#workstartingtime').val()));
            var endtime = parseFloat(ConvertTimeFormat1("24", $('#workendingtime').val()));

            var workstime = starttime.toString().split('.');
            var worketime = endtime.toString().split('.');
            var shours = parseInt(workstime[0]);
            var sminute = parseInt(workstime[1]);
            var ehours = parseInt(worketime[0]);
            var eminute = parseInt(worketime[1]);
            var hdiff = ehours - shours;
            var mdiff = eminute - sminute;

            if (endtime > starttime) {
              //  alert(" endtime is greater");
                
                 //alert(hdiff);
                //alert(mdiff);
                if (hdiff < 0 || mdiff<0) {
                    mdiff = mdiff + 60;
                    hdiff = hdiff - 1;
                    $('#duration').val(hdiff + ":" + mdiff);
                } else {
                    $('#duration').val(hdiff + ":" + mdiff);
                }
            
                //alert(endtime);
            }

            else if (endtime == starttime && mdiff>=0) {
               var hdiff1 = 0;
                mdiff = eminute - sminute;
                $('#duration').val(hdiff1 + ":" + mdiff);
            }
            else {
                alert("work finished time must be greater than work start time");
                $('#duration').val("00" + ":" + "00");
            }

        });
    });

    var count = 0;

    $(document).ready(function () {
        $('#addbutton').click(function () {
            var description = $('#description').val();
            var projectid = $('#dropdown').val();
            var id = document.getElementById("dropdown");
            var name = id.options[id.selectedIndex].text;
            var duration = $('#duration').val();
            var workstime = $('#workstartingtime').val();
            var worketime = $('#workendingtime').val();
            var date = $('#date').val();

            if (description !== "" && name !== "" && duration !== "" && workstime !== "" && worketime !== "" && date !== "") {

                var html = new Array();

                html.push('<div class="logrow row">');
                //html.push('<div class="col-md-2 roweditor" >' +
                //    '<span>' +
                //    '<input type="checkbox" class="rowcheckbox" onclick="check(this);"/>' +
                //    '<select class="editoption" onchange="editor(this);">' +
                //    '<option value="0" id="bulkedit">Bulk edit</option>' +
                //    '<option value="1" id="delete">Delete</option>' +
                //    '</select>' +
                //    '</span>' +
                //    '</div>' +
                    html.push('<div class="col-md-3 description">' + description + '</div>' +
                    '<div class="col-md-2 projectName">' + name + '<input type="hidden" class="projectid" value="' + projectid + '"/>' + '</div>' +
                    '<div class="col-md-2 duration">' + duration + '</div>' +
                    '<div class="col-md-1 workstime">' + workstime + '</div>' +
                    '<div class="col-md-1">' + "-" + '</div>' +
                    '<div class="col-md-1 worketime">' + worketime + '</div>' +
                    '<div class="col-md-1 date">' + date + '</div>' +
                    '<input type="hidden" class="developerid" value="' + @HttpContext.Current.User.Identity.GetUserId() + '"/>'+
                    '<button class="col-md-1 delete" onclick="operation(this);">'  + '<i class="fa fa-close" style="font-size:24px;color:red">' + '</i>' + '</button>'
                );

                html.push('</div>');
                $('#temptable').append(html.join(''));
                count++;
                

                $('#savebutton').show();

                reset();
            } else {
                alert("input field value is missing");
            }
        });


    });

    //clearing the fields after adding
    function reset() {
        document.getElementById("description").value = "";
        document.getElementById("duration").value = "";
        document.getElementById("date").value = "";
        document.getElementById("dropdown").value = "";
        document.getElementById("workstartingtime").value = "";
        document.getElementById("workendingtime").value = "";
    }

    // for hiding editing option of logrow

    //saving logdata into databas

    $(document).ready(function () {
        $('#savebutton').click(function () {

            // var description = $('.logrow .projectid').html();

            // alert(description);

            //fetching data from div by iteration and converting them to xml and json
            var html = new Array();
            html.push('<logs>');
            $.each($('#temptable .logrow'), function (index, rec) {
                var description = $($(rec).children('.description')).html();
                var projectid = $($(rec).children('.projectName').find('input[type=hidden].projectid')).val();
                var duration = $($(rec).children('.duration')).html();
                var workstime = $($(rec).children('.workstime')).html();
                var worketime = $($(rec).children('.worketime')).html();
                var date = $($(rec).children('.date')).html();
                var developerid = $($(rec).children('.developerid')).val();
                html.push('<LineItem ');
                html.push('Description="' + description + '"');
                html.push('ProjectId="' + projectid + '"');
                html.push('Duration="' + duration + '"');
                html.push('WorkStartTime="' + workstime + '"');
                html.push('WorkEndTime="' + worketime + '"');
                html.push('Date="' + date + '"');
                html.push('DeveloperId="' + developerid + '"');
                html.push('></LineItem>');
                //console.log(projectid);
            });
            html.push('</logs>');
            console.log(html.join(''));
            var logXML = html.join(' ');
            // var json = sys.Serialization.JavaScriptSerializer.serialize(logXML);
            var json = '{"logXML":' + JSON.stringify(logXML) + '}';
            console.log(json);

            //to count the no of rows inside div
            // var count = $('#temptable .logrow').length;

            $.ajax({
                type: 'POST',
                url: '/API/Log/SaveReport',
                data: json,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert("Data Saved Successfully");

                    // to empty temptable after saving records in database
                    $('#temptable').empty();

                },
                error:function() {
                    alert("something went wrong while  saving. try again!!");
                }
            });

        });

    });


    //function for button to delete
    function operation(ob) {
        $(ob).parent().remove();
    }

    // for deleting specific columns selected
    function editor(ob) {
        var option = ob.value;
        //alert(option);

        if (option == 1) {
            alert("Are you sure want to delete?");
            $(ob).parent().parent().parent().remove();
        }
    }


    // for highlighting specific checked column
    function check(obj) {
        // console.log("sasasasa",obj);
        $(obj).parent().parent().parent().toggleClass("highlight");
    }


</script>

<style>
 .highlight {
    background-color:red ;
}   
</style>