@using Microsoft.AspNet.Identity
@model ProjectManagerApp.Models.Project
@{
    ViewBag.Title = "Logshistory";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datetimepicker")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap-dialog-css")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<h2>Logs History</h2>
<div class="menu row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.Projects, "id", "Name"), "Select Project", new {@class = "form-control", id = "dropdown"})

        </div>
    </div>
    <div class="col-md-1">From</div>
    <div class="col-md-2">
        <div class="form-group">
            <div class="input-group date" id='datetimepicker'>
                <input type='text' class="form-control" id='fromdate'/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div clas="col-md-2"></div>
    <div class="col-md-1">To</div>
    <div class="col-md-2">
        <div class="form-group">
            <div class="input-group date" id='datetimepicker1'>
                <input type='text' class="form-control" id='todate'/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input type="submit" value="Search" id="searchbutton"/>
        </div>
    </div>
</div>


<h2>Log History</h2>
<div class="projectlogedit row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <div id="bulkeditoroption" style="color: darkgrey">

            <input type="checkbox" class="logrowchechbox"  onclick="bulkcheck(this);" />
            <select class="bulkeditoption" onchange="bulkeditor(this);">
                
                <option>Select Option</option>
                
                @*<option value="0" id="bulkedit">Bulk Edit</option>*@
                
                <option value="1" id="bulkdelete"> Bulk Delete</option>
                
            </select>


        </div>
    </div>
 
</div>

<br/>
<div id="logshistory">
       <table class="logtable"></table>
 
</div>
<br/>

<script>

    // hide bulkeditor
    $('.bulkeditoption').hide();


    //$('.logrowchechbox').hover(function() {
    //    $('.bulkeditoption').show();
    //},function(){
    //     $('.bulkeditoption').hide();  
    //});
    // mouseover functionality
  
   
    // hide edit div 
    $('#edit').hide();
    $(document).ready(function() {
        $('#datetimepicker').datetimepicker({
            format: 'YYYY-M-D'
        });

        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-M-D'
        });

        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-M-D'
        });

        @*var did = @HttpContext.Current.User.Identity.GetUserId();
        var pid = ($('#dropdown').val()=="")? '1':$('#dropdown').val();
        var date = ($('#logdate').val()=="")? '2015/3/15':$('#logdate').val();
        alert(date);
        alert(pid);
        alert(did)*@;
    });


    //Get loghistory from database according to developerid

    $(document).ready(function() {

        var did = @HttpContext.Current.User.Identity.GetUserId();
        //var pid = ($('#dropdown').val() == "") ? '1' : $('#dropdown').val();
        //var fromdate = ($('#fromdate').val() == "") ? '12/1' : $('#fromdate').val();
        //var todate = ($('#todate').val() == "") ? moment().format('M/D') : $('#todate').val();
        //if (pid == "" || did == "" || fromdate == "" || todate == "") {
        //    alert("fill out all the blanks and select project.");
        //} else {
            //alert(fromdate);
            //alert(pid);
            //alert(todate);


            var url = '/API/Log/GetLogHistoryAscProjectId';
            $.get(url,{developerid:did},function(data) {
                console.log(data);
                var report = "";
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    report += '<tr>' +
                        '<td>' + '<input type="hidden" class="logid" value="' + data[i].Id + '"/>' + '</td>' +
                        '<td class="description">' + data[i].Description + '</td>' +
                        // '<td class="projectid">' + data[i].ProjectId + '</td>' +
                        '<td class="projectname">' + data[i].Name + '</td>' +
                        '<td class="duration">' + data[i].Duration + '</td>' +
                        '<td class="workstime">' + data[i].WorkStartTime + '</td>' +
                        '<td class="worketime">' + data[i].WorkEndTime + '</td>' +
                        '<td class="date">' + data[i].Date + '</td>' +
                        '<td>' + '<input type="checkbox" class="rowcheckbox" onclick="check(this);"/>' +
                        '<select class="editoption" onchange="editor(this);">' +
                         '<option>Select Option</option>' +
                        '<option value="0" id="bulkedit">Edit</option>' +
                        '<option value="1" id="delete">Delete</option>' +
                        '</select>' + '</td>' +
                        '</tr>';
                }

                if (report != "") {
                    $('#logshistory .logtable').append(report);
                    console.log("success");
                } else {
                    console.log("no logs to show");

                    alert("no data to show");
                }


            });
       // }
    });


    // for search button click operation

    $(function() {
        $('#searchbutton').click(function() {

            var did = @HttpContext.Current.User.Identity.GetUserId();
            var pid = $('#dropdown').val();
            var fromdate = ($('#fromdate').val() == "") ? '2015-12-1' : $('#fromdate').val();
            var todate = ($('#todate').val() == "") ? moment().format('YYYY-M-D') : $('#todate').val();

            if (pid== "" || fromdate== "" || todate== "") {
                alert("fill out all the blanks and then proceed");
            }
                //alert(fromdate);
                // alert(pid);
                // alert(todate);
            else {
                // to remove exisiting records of table
                $('.logtable tr').remove();

                var url = '/API/Log/GetLogsHistory';
                $.get(url, { id: did, projectid: pid, fromdate: fromdate, todate: todate }, function(data) {
                    console.log(data);
                    var report = "";
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        report += '<tr>' +
                            
                            '<td>' + '<input type="hidden" class="logid" value="' + data[i].Id + '"/>' + '</td>' +
                            '<td class="description">' + data[i].Description + '</td>' +
                           '<td class="projectname">' + data[i].Name + '</td>' +
                            '<td class="duration">' + data[i].Duration + '</td>' +
                            '<td class="workstime">' + data[i].WorkStartTime + '</td>' +
                            '<td class="worketime">' + data[i].WorkEndTime + '</td>' +
                            '<td class="date">' + data[i].Date + '</td>' +
                            '<td>' +
                            '<input type="checkbox" class="rowcheckbox" onclick="check(this);"/>' +
                            '<select class="editoption"  onchange="editor(this);">' +
                            '<option>Select Option</option>' +
                            '<option value="0" id="edit">Edit</option>' +
                            '<option value="1" id="delete">Delete</option>' +
                            '</select>' + '</td>' +
                            '</tr>';
                    }

                    if (report != "") {
                        $('#logshistory .logtable').append(report);
                        console.log("success");

                    } else {
                        console.log("no data to show");
                        alert("there is no records for this search!!");
                    }


                });
            }
            
          
            
        });
    });


    // count the number of records we want to bulk edit or delete


    var selectedlogid = [];



    var description,projectname, duration, workstime, worketime, date,logid,projectid;
    
    var developerid=@HttpContext.Current.User.Identity.GetUserId();
    
   
    // for deleting specific columns selected
    function editor(ob) {
        var option = ob.value;
        console.log(option);

        if (option == 1) {
            var con = confirm("Are you sure want to delete it?");
            logid = $(ob).closest("tr").find(".logid").val(); 
          //console.log(logid);
           
            if (con == true) {

                var url = '/API/Log/GetSeletedLogsDelete';
                $.get(url, { id: logid }, function(data) {
                   

                });
              
            } else {
                console.log(logid);
            }

        }
        else if(option==0) {
             
             description = $(ob).closest("tr").find(".description").text();       // Finds the closest row <tr> // Gets a descendent with class="nr"    // Retrieves the text within <td>
             projectname = $(ob).closest("tr").find(".projectname").text();  
             duration =    $(ob).closest("tr").find(".duration").text();
             workstime =   $(ob).closest("tr").find(".workstime").text(); 
             worketime =   $(ob).closest("tr").find(".description").text(); 
             date=         $(ob).closest("tr").find(".date").text(); 
                                
            editlog(logid, description, projectname, duration, workstime, worketime, date, developerid);
          
        }
      
    }


    
    var count = 0;
    // for highlighting specific checked column
    function check(obj) {
        $(".logtable tr").click(function() {
            $(this).find('td').toggleClass("highlight");
            logid = $(obj).closest("tr").find(".logid").val();
            selectedlogid.push(logid);
        });

        count++;
        console.log(count);
    
   }

    // for confirmation to delete recors or not

 
   
    // for editing logs

    function editlog(logid, description, projectname, duration, workstime, worketime, date, developerid) {
       //  alert(description);
      //  alert(date);
       // alert(projectid);
       
        dialogAddItem = new BootstrapDialog({
               
                title: 'Are you sure you want to edit it?',
                message:
                    '<div class="modal-body">'+
                    //first row
                    '<div class="row">'+
                    '<div class="col-md-8">'+
                    '<input type="text" class="form-control" id="editdescription" value="'+description+'" style="width:230px" />'+
                    '</div>'+

                    '<div class="col-md-4">'+
                    '<select id="projectname" class="form-control"  style="width:120px">'+
                     '<option>"'+projectname+'"</option>'+
                    '</select>'+
                    '</div>'+

                    '</div>'+
                    
                    '<br/>'+
                    //second row

                    '<div class="row">'+ 

                    '<div class="col-md-3">'+
                    '<label class="form-control" style="width:80px">'+"Date"+'</label>'+
                    '</div>'+

                    '<div class="col-md-4">'+
                    '<div class="form-group">'+
                                '<div class="input-group date" id="datetimepicker3" style="width:120px">'+
                                    '<input type="text" class="form-control" value="'+date+'" id="editdate" />'+
                                    '<span class="input-group-addon">'+
                                        '<span class="glyphicon glyphicon-calendar"></span>'+
                                    '</span>'+
                                '</div>'+
                            '</div>'+
                    '</div>'+
                    

                    '<div class="col-md-5">'+
                    //'<input type="submit" id="applyButton" value="Apply" onclick="editSave();" class="btn btn-success"/>'+
                    '</div>'+

                    '</div>'
                    

                ,
                onshow: function(dialogRef){
                 //   alert('Dialog is popping up, its message is ');
                },
                onshown: function(dialogRef){
                    $('#datetimepicker3').datetimepicker({
                        format: 'YYYY-M-D'
                    });
                    getprojectname();
                  
                },
                draggable: true,
                buttons: [{
                label: 'Apply',
                cssClass: 'btn-success',
                action: function(dialog) {

                    var description = $('#editdescription').val();
                    var edate = $('#editdate').val();
                    var projectid = $('#projectname').val();
                    alert(projectid);
                   // var developerid=@HttpContext.Current.User.Identity.GetUserId();
                   // console.log(description+'   '+editdate+'   '+logid+'   '+projectid+'    '+did);

                    var html = new Array();
                    html.push('<logs>');
                    html.push('<LineItem ');
                    html.push('Id="' + logid + '"');
                    html.push('D="' + description + '"');
                    html.push('pr="' + projectid + '"');
                    html.push('wst="' + workstime + '"');
                    html.push('wet="' + worketime + '"');
                    html.push('d="' + duration + '"');
                    html.push('date="' + edate + '"');
                    html.push('did="' + developerid + '"');
                    html.push('></LineItem>');
                    //console.log(projectid);
                
        html.push('</logs>');
        console.log(html.join(''));
        var editlogXML = html.join(' ');
        // var json = sys.Serialization.JavaScriptSerializer.serialize(logXML);
        var json = '{"editlogXML":' + JSON.stringify(editlogXML) + '}';
        console.log(json);

                    //console.log(json);
                    $.ajax({
                        type: 'POST',
                        url: '/API/Log/GetLogsUpdate',
                        data: json,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            alert("Data Updated Successfully");

                        },
                        error:function() {
                            alert("something went wrong while  saving. try again!!");
                        }
                    });

                 //   alert("Hello");

                    dialog.close();
                
                }
            }]
        });

        dialogAddItem.open();
       
        // alert("Hello there");
    }


    //loading projectsname in dropdown
    function getprojectname() {

        $.ajax({
            url:'/API/Log/GetAllProjectName',
            type:'GET',
            dataType: 'json',
            success: function(data){
 
                 console.log(data);
                 var options = [];
                 for (var i = 0; i < data.length; i++) {
                     options.push('<option value="',
                       data[i].Id, '">',
                       data[i].Name, '</option>');
                    
                     //if ($(this).text() == projectname)
                     //    $(this).attr("selected","selected");
                 }
                 $("#projectname").html(options.join(''));
                //$('#projectname')
               
            }
            });
                
              
    }



    // functionality for bulkedit and bulkdelete

    function bulkcheck(ob) {
      
           $('.bulkeditoption').show();   
       // console.log("alert");
    }

    function bulkeditor(ob) {
       // var response = confirm("Are you sure you want to bulk edit or delete it?");
      //  editlog(logid, description, projectname, duration, workstime, worketime, date, developerid);
      
            var option = ob.value;
            console.log(option);

        

            if (option == 0) {
                var response = confirm("Are you sure you want to bulk edit it?");
                if (response == true) {
                    alert("please check the no of items you want to edit it from log records.");
                    alert(count);
                   
                }
            }

            if (option == 1) {
                var response1 = confirm("Are you sure you want to bulk delete it?");
                if (response1 == true) {
                    alert("please check the no of items you want to delete it from log  records.");
                    alert(count);

                    var logids = [];
                    for (var i = 0; i < count; i++) {
                        logids[i]=selectedlogid.pop(logid);
                    }

                    //for (var id = 0; id < count; id++) {
                    //    console.log(ids[id]);
                    //}
                    var url = '/API/Log/GetBulkLogDelete';
                    var developerid=@HttpContext.Current.User.Identity.GetUserId();
                    var csvContent = "data:text/csv;charset=utf-8,";
                    logids.forEach(function(infoArray, index){

                        dataString = infoArray.join(",");
                        csvContent += index < logids.length ? dataString+ "\n" : dataString;

                    });
                    
                    $.get(url,{logids:csvContent,developerid:developerid},function(data) {

                        alert(data);
                        console.log(success);
                        
                    });
                }
            }
         
  

    }


 

</script>
<style>
    .logtable{
        border: 1px solid #666;   
        width: 100%;
    }
    td {
        background: #f8f8f8; 
        font-weight: bold;    
        padding: 2px;
    }
      .highlight {
         background-color: red;
     }
         
      /*.modal-dialog {
          width: 800px;
          height: 600px;
               
     }*/  
      .modal-body {
          width: 350px;
          height: 150px;
      } 
    
</style>


