@model IEnumerable<ProjectManagerApp.Models.DAL.Output.LogFiltered>

@{

    int totalhour = 0, totalminutes = 0;
}


@if (Model.Count()>0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">

            <tr>

                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayName("Project Name")</th>
                <th>@Html.DisplayNameFor(model => model.WorkStartTime)</th>
                <th>@Html.DisplayNameFor(model => model.WorkEndTime)</th>
                <th>@Html.DisplayNameFor(model => model.Duration)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
                <th>@Html.DisplayName("Developer Name")</th>
                <th></th>

            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td class="td-description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkStartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkEndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @{
                            var val = item.Date.ToShortDateString();
                        }
                        @Html.DisplayFor(modelItem => val)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>

                        @Html.ActionLink(" ", "Edit", new { controller = "Logs", id = item.Id }, new { @class = "fa fa-edit",title="Edit", id = "btnedit" }) |
                        @Html.ActionLink(" ", "Details", new { controller = "Logs", id = item.Id }, new { @class = "fa fa-list",title="Details", id = "btndetails" }) |
                        @Html.ActionLink(" ", "Delete", new { controller = "Logs", id = item.Id }, new { @class = "fa fa-trash-o" ,title= "Delete", id = "btndelete"})

                    </td>

                        @{

                            string[] totalduration;
                            string duration;

                            duration = item.Duration;

                            totalduration = duration.Split(':');
                            int hour = int.Parse(totalduration[0]);
                            int len = totalduration[1].Length;
                            int min = int.Parse(totalduration[1]);


                            totalminutes += min;
                            totalhour += hour;

                            if (totalminutes > 60)
                            {
                                int h = totalminutes / 60;
                                totalhour += h;
                                totalminutes = totalminutes % 60;
                            }


                        }


                  

                </tr>
                            }

            <tr>
                <td></td>
                <td></td>              
                <td colspan="2">Total Duration</td>
                <td>@totalhour:@totalminutes</td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>


        </table>
    </div>
     

        <br />
       
       }

                            else
                            {
                      <div class="info">There is no data to show</div>
                            }

<script>
    $(function () {
     $('#btnedit').click(function () {
            $('#divLoader').show();
            setTimeout(function () {
         
            }, 1);
         
            });
     $('#btndetails').click(function () {
         $('#divLoader').show();
         setTimeout(function () {
           
         }, 1);

     });
     $('#btndelete').click(function () {
         $('#divLoader').show();
         setTimeout(function () {
           
         }, 1);

     });
     $('#btncreate').click(function () {
         $('#divLoader').show();
         setTimeout(function () {
         }, 1);

     });
    });
    
   
   

</script>