@model ProjectManagerApp.Areas.Admin.Models.Log

@{
    ViewBag.Title = "Details";
}

<h2>Log Details</h2>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @{
                var val = Model.Date.ToShortDateString();
            }
            @Html.DisplayFor(model => val)
        </dd>

        <dt>
            @Html.DisplayName("Developer Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { controller = "Logs", id = Model.Id }, new { @class = "fa fa-edit", title = "Edit" }) |
    @Html.ActionLink(" ", "Index", new { controller = "Logs" }, new { @class = "fa fa-backward", title = "Back to List" })
</p>
