@model List<ProjectManagerApp.Models.DAL.Output.LogFiltered>


@{
    ViewBag.Title = "Index";
}

<div id="divLoader" class="modalPopUpBackground loadingCursor">

    <img src="~/Images/ajax-loader.gif" />

</div>
<br />
<br />
<h2>Index</h2>
<br />
<br />
<div class="filter">

    @using (Ajax.BeginForm("GetLogResultSheetByFilter", "Logs", new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tblLogsList",
        LoadingElementId = "divLoader"
    }))
    {

        <div class="row">
            <div class="col-md-2">
                <p>Developer Name:</p>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownList("developerid", new SelectList(ViewBag.Users, "Id", "UserName"), "Select Name", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <p>Search by Keywords</p>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    @Html.Editor("keywords", new { htmlAttributes = new { @class = "form-control" } })
                </div>




            </div>
            <div class="col-md-1">
                <p>Filter By</p>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownList("projectid", new SelectList(ViewBag.Projects, "Id", "Name"), "Select Project", new { @class = "form-control" })

                </div>


            </div>
        </div>
        <div class="row">

            <div class="col-md-1">
                <p>FilterBy</p>
            </div>

            <div class="col-md-2">

                <div class="form-group">
                    @Html.DropDownList("option", new SelectList(new List<Object> {
                                                                            new { value="Today", text="Today" },
                                                                            new { value="This Month", text="This Month" },
                                                                            new { value="Previous Month", text="Previous Month"},
                                                                            new { value="This Week",text="This Week"},
                                                                            new { value="Previous Week",text="Previous Week"},
                                                                            new { value="Between",text="Between"}
                                                                            }, "value", "text"), "Select Option", new { @class = "form-control", id = "optiondropdown" })
                </div>



            </div>

            <div class="optional">

                <div class="col-md-1">
                    <p>From</p>
                </div>


                <div class="col-md-2">
                    @Html.Editor("fromdate", new { htmlAttributes = new { @class = "form-control" } })
                </div>


                <div class="col-md-1">
                    <p>To</p>
                </div>

                <div class="col-md-2">
                    @Html.Editor("todate", new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>

            <div class="col-md-1">
                <input type="submit" value="Search" id="searchbutton" class="btn btn-primary" onclick="saveFilterValues();" />
            </div>

        </div>

    }
</div>

<br />

<div class="row">
    <p class="form-group">@Html.ActionLink("Create New", "Create", new { @class="btncreate"}) </p>

</div>


<br />



<h2>@ViewBag.Messsage</h2>

<div id="tblLogsList">


    @Html.Partial("_LogList")

</div>

<br />

<br />

<script>



    $('.optional').hide();

    $(function () {

        $('#fromdate').datetimepicker({
            format: 'M/D/YYYY'
        });

        $('#todate').datetimepicker({
            format: 'M/D/YYYY'
        });

        $('#tblLogsList').hide();

    });


    $("#optiondropdown").change(function () {
    var selectedText1 = $("#optiondropdown option:selected").text();
 
    if (selectedText1 == "Between") {
     
        $('.optional').show();
    }
    else {
        $('.optional').hide();
    }

    });

    $('#searchbutton').click(function () {
        $('h2').hide();
        $('#tblLogsList').show();

    });



    loadFilterValues = function () {
        $("#developerid").val(localStorage['Log_DeveloperId']);
        $("#keywords").val(localStorage['Log_Keyword']);
        $("#projectid").val(localStorage['Log_ProjectId']);
        $("#option").val(localStorage['Log_Option']);
        $("#fromdate").val(localStorage['Log_FromDate']);
        $("#todate").val(localStorage['Log_ToDate']);


        $("#divLoader").removeClass("modalPopUpBackground").removeClass("loadingCursor");
        setTimeout(function () {
            $("#searchbutton").trigger("click");
            $("#divLoader").addClass("modalPopUpBackground").addClass("loadingCursor");
        }, 1);
    };

    saveFilterValues = function () {

        localStorage['Log_DeveloperId'] = $("#developerid").val();
        localStorage['Log_Keyword'] = $("#keywords").val();
        localStorage['Log_ProjectId'] = $("#projectid").val();
        localStorage['Log_Option'] = $("#option").val();
        localStorage['Log_FromDate'] = $("#fromdate").val();
        localStorage['Log_ToDate'] = $("#todate").val();

    };

    loadFilterValues();



</script>