@model List<ProjectManagerApp.Models.DAL.Output.LogFiltered>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="filter">

    @using (Ajax.BeginForm("GetLogResultSheetByFilter", "Logs", new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tblLogsList",
        LoadingElementId = "divLoader"
    }))
    {

    <div class="row">
        <div class="col-md-2">
            <p>Developer Name:</p>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.DropDownList("developerid", new SelectList(ViewBag.Users, "Id", "UserName"), "Select Name", new { @class = "form-control"})
            </div>
        </div>
        <div class="col-md-2">
            <p>Search by Keywords</p>
        </div>
        <div class="col-md-3">

            <div class="form-group">
                @Html.Editor("keywords", new { htmlAttributes = new { @class = "form-control" } })
            </div>




        </div>
        <div class="col-md-1">
            <p>Filter By</p>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.DropDownList("projectid", new SelectList(ViewBag.Projects, "Id", "Name"), "--Select--", new { @class = "form-control" })

            </div>


        </div>
    </div>
    <div class="row">

        <div class="col-md-1">
            <p>FilterBy</p>
        </div>

        <div class="col-md-2">

            <div class="form-group">
                @Html.DropDownList("option", new SelectList(new List<Object> {
                                                                            new { value="This Month", text="This Month" },
                                                                            new { value="Previous Month", text="Previous Month"},
                                                                            new { value="This Week",text="This Week"},
                                                                            new { value="Previous Week",text="Previous Week"},
                                                                               new { value="Between",text="Between"}
                                                                            }, "value", "text"), "Select Option", new { @class = "form-control", id="optiondropdown" })
            </div>



        </div>

        <div class="optional">

           <div class="col-md-1">
                <p>From</p>
            </div>


            <div class="col-md-2">
                @Html.Editor("fromdate", new { htmlAttributes = new { @class = "form-control" } })
            </div>


            <div class="col-md-1">
                <p>To</p>
            </div>

            <div class="col-md-2">
                @Html.Editor("todate", new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>

        <div class="col-md-1">
            <input type="submit" value="Search" id="searchbutton"  class="btn btn-default" onclick="$(this.form).submit();" />
        </div>

    </div>

    }
</div>

<br />

<div class="row">
    <p class="form-group">@Html.ActionLink("Create New", "Create") </p>

</div>


<br />

@*<h2>@ViewBag.Message</h2>*@

<h2>@ViewBag.Messsage</h2>

<div id="tblLogsList">
   
  
    @Html.Partial("_LogList")
   
</div>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

@Scripts.Render("~/bundles/jqueryajaxform")
@Scripts.Render("~/bundles/datetimepicker")
<script>



    $('.optional').hide();

    $(function () {

        $('#fromdate').datetimepicker({
            format: 'M/D/YYYY'
        });

        $('#todate').datetimepicker({
            format: 'M/D/YYYY'
        });

        //if($('#optiondropdown:selected' == 'Between')
        //{
        //    alert("Between Selected");
        //});
      
        $('#tblLogsList').hide();
    });


    $("#optiondropdown").change(function () {
    var selectedText1 = $("#optiondropdown option:selected").text();
   // console.log(selectedText1);
    if (selectedText1 == "Between") {
       // alert("Between");
        $('.optional').show();
    }
    else {
        $('.optional').hide();
    }
    
    });

    $('#searchbutton').click(function () {
        $('h2').hide();
        $('#tblLogsList').show();

    });

    

</script>