@model IEnumerable<ProjectManagerApp.Models.DAL.Output.ProjectsDeveloperFilterResult>

@{
    ViewBag.Title = "Index";
   
}
<br />
<h2>Index</h2>

<div class="filter">
@using (Ajax.BeginForm("GetProjectsDeveloperResultSheetByFilter", "ProjectsDevelopers", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "tblProjectsDeveloperList",
    LoadingElementId = "divLoader"
}))
{

    <div class="row">
        <div class="col-md-2">
            <p>Developer Name:</p>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.DropDownList("developerid", new SelectList(ViewBag.Users, "Id", "UserName"), "Select Name", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-2">
            <p>Projects Name</p>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.DropDownList("projectsid", new SelectList(ViewBag.Projects, "Id", "Name"), "--Select--", new { @class = "form-control" })

            </div>


        </div>

        <div class="col-md-1">
            <input type="submit" value="Search" id="searchbutton" class="btn btn-default" onclick="$(this.form).submit();" />
        </div>

    </div>
}
</div>



<br />



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<br />
<div id="tblProjectsDeveloperList">
    @Html.Partial("_ProjectsDeveloperList")
</div>


@Scripts.Render("~/bundles/jqueryajaxform")