@model ProjectManagerApp.Areas.Admin.Models.AspNetRole

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@{
    ViewBag.Title = "Create";
}

<h2>User Create</h2>

<div class="partialview">
    @Html.Partial("_UpdateAspNetRoles")
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
