@model IEnumerable<ProjectManagerApp.Areas.Admin.Models.AspNetRole>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@{
    ViewBag.Title = "Index";
}

<h2>Role Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="partialview">
    @Html.Partial("_AspNetRolesList")
</div>

@Scripts.Render("~/bundles/jqueryajaxform")